html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--dark-bg-color, #121212);
  color: var(--dark-text-color, #ffffff);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: var(--dark-header-bg, #1f1f1f);
  padding: 1rem;
  text-align: center;
}

header h1 {
  margin: 0;
  color: var(--dark-header-text, #ffffff);
}

main {
  padding: 2rem;
}

footer {
  background-color: var(--dark-footer-bg, #1f1f1f);
  color: var(--dark-footer-text, #ffffff);
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}