#game-container {
  border: solid 2px #0ff;
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:0;
}

#game-area-top {
  border: dashed 2px #ff0;
  height: 30px;
  width: 100%;
}

#game-area-bottom {
  border: dashed 2px #0f0;
  min-height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

#game-area-main {
  border: dashed 2px #0ff;
  height: 600px;
  display: flex;
  flex-direction: row;
  width: 100%;
  gap:0;
}

#game-area-left {
  border: dashed 2px #f0f;
  height: 100%;
  /* width: 250px; */
  flex-grow: 1;
  background-color: #f0f5;
}

#game-area-right {
  border: dashed 2px #ff0;
  height: 100%;
  /* width: 250px; */
  flex-grow: 1;
  background-color: #ff05;
}




#grid-container {
  border: solid 2px #f00;
  background-color: #f005;
  height: 100%;
  width: 400px;
}